src/main/mule/sc-hmd-dlvr-asn-eapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">

    <flow name="sc-hmd-dlvr-asn-eapi-main">
        <http:listener config-ref="sc-hmd-dlvr-asn-eapi-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="sc-hmd-dlvr-asn-eapi-config" />
		<error-handler ref="" />

    </flow>
    <flow name="get:\ping:sc-hmd-dlvr-asn-eapi-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: "OK",
  application: "sc-hmd-dlvr-asn-eapi",
  environment: "env",
  version: "1.0",
  time: "05-05-2023T10:35:58"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<logger level="INFO" doc:name="Ping Response" doc:id="e487ee81-3b96-416f-ba04-a62e08add004" message="#[payload]"/>
    </flow>
    <flow name="post:\asn:application\json:sc-hmd-dlvr-asn-eapi-config">
        <flow-ref doc:name="Flow Reference" doc:id="4901144b-7c97-4925-b18a-c1262205d6c7" name="outbound-asnSub_Flow"/>
		<ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  Message: "200 Success, The request has been received"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<logger level="INFO" doc:name="Response" doc:id="41a9837a-f08a-40a8-80ff-d3843fb5c3f6" message="Successful Transaction"/>
    </flow>
</mule>
